

.content{
    padding-top: 5%;
    color: #800000;
}

body{
    padding-top: 66px;
    background-color: #FFF9CA;
}

h1{ 
    padding: 0px 10%; 
    color: #800000;
}

p{
    
    padding: 0px 10%;
    color: #800000;
   
}

h2{   
    color: #800000;
}



#Imgcard{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -200px;
    
}

#Imgcard .card-body{
    background-color: #F0EEED;
 
}

#Imgcard .card iframe{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#Imgcard .card img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#Imgcard .card {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

#Imgcard .card-title{
    color: #fd7e14;
    font-weight: bold;
            /*limit the card txt lines to 1*/
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#Imgcard .card-text{
    color: #800000;
    font-weight: bold;
        /*limit the card txt lines to 3*/
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



.cardlink:link { text-decoration: none; }
.cardlink:visited { text-decoration: none; }
.cardlink:hover { text-decoration: none; }
.cardlink:active { text-decoration: none; }




#carouselControls{  
    position: relative;
}

.carouselImg{
    height: 100vh;
    width: 100vw;
}



.dropdown-item{
    color: #fd7e14;
    font-size: 1em; 
    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}

.dropdown-menu{
    background-color: #800000;

}

.dropdown-toggle{
    color: #fd7e14;
    
    font-size: 1.3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition-property: background-color;
    transition-duration: 0.3s;
}

/*removed dropdown toggle icon*/
.dropdown-toggle::after {
    display: none;
}


/*tempory disabled*/
/* Show the dropdown menu on hover */
/*
.dropdown:hover .dropdown-menu {display: block;}
*/



/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown-toggle:hover {
    background-color: #6e0303;
    color: #fd7e14;
   
}

.navbar-brand:hover {
    background-color: #800000;
    color: #fd7e14;
}

/* Change the background color of the dropdown menue when the mouse hover */

.dropdown-item:hover {
    background-color: #fd7e14;
    color: #800000;
}

.navbar-brand{
    color: #fd7e14;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px #000000;
}



.navbar{
    background-color: #800000;
    color: #fd7e14;
}

footer{
    width: 100%;
    height: 120px;
    position:relative;
    bottom:0;
    background-color: #800000;
    text-align: center;
    padding-top: 40px;
    margin-top: 1000px;
}

.footertext{
    color: #fd7e14;
    
}








.video-container{
    margin-top: 150px;
    display: flex;
    height: fit-content;
}


.p-2{
    width: 50%;
    display: inline-block;
    height: fit-content;
}

.text{
    width: 50%;

    display: inline-block ;

}





.btn{
    color: white;
    background-color: #800000;
    border: black;
}

.btn:hover{
    color: #800000;
    background-color: #fd7e14;
}


.check_btn{
    background-color: #800000;
    color: white;

}

#search_results{
    margin: 50px;
}

#search_form{
    margin: 50px;
}